/* Common features */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
}

h1 {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1.5px;
  color: #4B088A;
  text-shadow: 3px 3px #D8CEF6;
  padding: 50px 0;
  font-size: 40px;
}

h2 {
  font-weight: 800;
  padding: 50px 0 20px;
  font-size: 40px;
  color: #D8CEF6;
  text-shadow: 3px 3px #4B088A;
}

h3 {
  color: #D8CEF6;
  text-shadow: 3px 3px #4B088A;
  padding-bottom: 25px;
  text-transform: uppercase;
  font-size: 25px;
}

p {
  font-size: 30px;
  font-weight: 700;
  padding: 30px 0;
}

small {
  text-transform: uppercase;
}

#page-wrapper {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: rgb(28,53,213);
  background: linear-gradient(0deg, rgba(28,53,213,1) 0%, rgba(47,184,203,1) 80%);
  text-align: center;
}

.container {
  margin: 0 auto;
}

.row {
  text-align: center;
  padding: 20px 0;
}

.clear-fix {
  content: '';
  display: table;
  clear: both;
  width: 100%;
}

.box-left,
.box-right {
  width: 30px;
  height: 30px;
  background-color: #4B088A;
  box-shadow: -webkit-box-shadow: 0px 0px 26px 3px rgba(216,206,246,1);
  -moz-box-shadow: 0px 0px 26px 3px rgba(216,206,246,1);
  box-shadow: 0px 0px 26px 3px rgba(216,206,246,1);
}

.box-left {
  float:left;
}

.box-right {
  float:right;
}

/* Elements */

h1::before,
h1::after {
  content: '\f1b3';
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 40px;
}

h1::before {
  margin-right: 40px;
}

h1::after {
  margin-left: 40px;
}

#poets-class,
#new-student {
  line-height: 30px;
}

#poets-class > div > span:first-child,
#new-student > div > span:first-child {
  text-transform: uppercase;
}

#poets-class > div > span:last-child,
#new-student > div > span:last-child {
  font-weight: 600;
  font-size: 20px;
}

p::before {
  content: '\f101';
  margin-right: 20px;
}

p::after {
  content: '\f100';
  margin-left: 20px;
}

p::before,
p::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 30px;
}

p:hover,
p:hover::before,
p:hover::after {
  color: #BCA9F5;
  text-shadow: 2px 2px #4B088A;
  cursor: pointer;
}


/* ------------------- MEDIA QUERY ------------------- */

/* Breakpoint Small 576px sm */
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* Breakpoint Medium 768px md */
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  h1 {
    font-size: 60px;
  }

  h1::before,
  h1::after {
    font-size: 60px;
  }
}

/* Breakpoint Large 992px lg */
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Breakpoint Extra Large 1200px lg */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
